# Git files
.git
.gitignore

# Docker files
.dockerignore
Dockerfile

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/

# Environment files and test files
.env
*.xml
tests.http